{:paths ["src" "resources"]
 :deps {com.yetanalytics/flint {:mvn/version "0.2.1"
                                :exclusions [org.clojure/clojure
                                             org.clojure/clojurescript]}
        hato/hato              {:mvn/version "0.8.2"}
        org.clojure/clojure    {:mvn/version "1.11.1"}
        org.clojure/data.json  {:mvn/version "2.4.0"}
        tick/tick              {:mvn/version "0.5.0-RC5"}}
 :aliases {:dev {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.13.838"}}}
           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.65.1029"}}
                  :main-opts   ["-m" "kaocha.runner"]}
           :release {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
                     :main-opts ["-m" "applied-science.deps-library"]}
           :nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                               :exec-args {:index "notebooks/basics.clj"}}}}

                               
